:root {
    --bg: #141D2F;
    --text: #f1f1f1;
    --bg-content: #1E2A47;
    --btn: #0079FF;
    --btn-hover: #60ABFF;
}

*, ::before, ::after  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

body {
    background: var(--bg);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
}

h1 {
    text-align: center;
    font-size: 4vw;
    margin: 40px 0 50px 0;
}

.affichage {
    display: flex;
    justify-content: center;
}

form, .affichage {
    margin: 0 auto;
    width: 50%;
    max-width: 800px;
    min-width: 400px;
}

.carte {
    position: relative;
    margin-top: 100px;
    height: 100%;
    width: 800px;
    padding-bottom: 20px;
    color: var(--text);
    border-radius: 5px;
    background-color: var(--bg-content);
}

.cont-infos {
    margin-top: 20px;
    list-style-type: none;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0 30px;
    font-size: 25px;
}

.input-container {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 25px;
    background-color: var(--bg-content);
    border-radius: 15px;
    background-image: url('../img/icon-search.svg');
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: center;
    padding-left: 50px;
    border: none;
}
.input-container label {
    flex: 1;
}

.inp-recherche {
    display: block;
    border: none;
    width: 100%;
    background: none;
    padding-left: 15px;
    color: var(--text);
    outline: none;
}

.search-bar {
    cursor: pointer;
    display: flex;
    height: 30px;
}

.btn-search {
    background-color: var(--btn);
    border: none;
    border-radius: 10px;
    color: var(--text);
    font-size: 14px;
    padding: 15px;
    min-width: 84px;
    height: 75%;
}

.btn-search:hover {
    cursor:pointer;
    background-color: var(--btn-hover);
}

input::placeholder {
    color: lightgray;);
    letter-spacing: 2px;
    font-size: 13px;
}

.avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    border: none;
}

.bio {
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    margin-bottom: 30px;
}

.login {
    text-align: center;
    font-size: 15px;
    color: var(--btn);
}

.follows {
    margin: 0 auto 50px;
    display: flex;
    justify-content: space-around;
    background-color: var(--bg);
    padding: 10px;
    width: 60%;
    border-radius: 5px;
}

#follows-content {
    text-align: center;
    font-weight: bold;
}

.bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.line {
    display: flex;
    justify-content: start;
    align-items: center;
}

.line img {
    margin: 0 10px 0 0;
    width: 20px;
}
